@{
    ViewBag.Title = "QUIENES SOMOS?";
}


<div class="jumbotron">
    <h3>@ViewBag.Title</h3>
    <p class="lead">SmartBuy es una empresa Costarricense encargada de la venta de articulos para hombre, 
                    comercializando marcas reconocidas como: <b>Adidas</b>,<b>Nike</b> y <b>Levi.</b>
                    Contamos con un catalogo 100% original y actualizado </p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Misión</h2>
        <p>
            La mision de SmartBuy es consolidarse como lider en
            ventas a nivel Nacional tanto en el sector deportivo
            como en el casual.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Visión</h2>
        <p>
            La visión de MartBuy es ser la mejor opcion de nuestros
            clientes, la cual transmitamos seguridad a la hora de
            realizar sus compras y siempre satisfaciendo las
            necesidades del cliente y contanto con lo ultimo de
            las marcas selectas.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>
