@{
    ViewBag.Title = "CONTACTANOS";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Cartago Costa Rica<br />
    Lima, Contiguo Parque Industrial<br />
    <abbr title="Phone">P:</abbr>
    +(506) 6344.4001
</address>

<address>
    <strong>Support:</strong>   <a href="Ltorres96@outlook.es">Support@DevFerToCa.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>